@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&display=swap');

h3{
    font-weight: bolder;
}

#informacion{
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#informacion h2{
    margin-top: 5%;
    font-family: asap_medium;
    color: rgb(174, 181, 204);
    font-weight: 900;
    font-size: 400%;
    float: left;
}

#informacion h6{
    font-family: 'Asap Condensed', sans-serif;
    float: left;
}